@font-face {
  font-family: myFirstFont;
  src: url(resources/fonts/panton.black-italic-caps.otf);
}

@font-face {
  font-family: myFirstFont2;
  src: url(resources/fonts/panton.light-italic-caps.otf);
}

@font-face {
  font-family: myFirstFont3;
  src: url(resources/fonts/panton.black-caps.otf);
}

@font-face {
  font-family: myFirstFont4;
  src: url(resources/fonts/panton.light-caps.otf);
}


:root {
  --divided-into: 1;
  --header-font-size: calc(2vw + 0.1rem);
  transition-duration: 150ms;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --divided-into: 1;
    --header-font-size: calc(2vw + 0.2rem);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    --divided-into: 2;
    --header-font-size: calc(2vw + 0.3rem);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --divided-into: 3;
    --header-font-size: calc(2vw + 0.4rem);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --divided-into: 4;
    --header-font-size: calc(2vw + 0.6rem);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --divided-into: 5;
    --header-font-size: calc(2vw + 0.7rem);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2000px) {
  :root {
    --divided-into: 6;
    --header-font-size: calc(2vw + 0.8rem);
  }
}

@media only screen and (min-width: 2800px) {
  :root {
    --divided-into: 7;
    --header-font-size: calc(2vw + 0.9rem);
  }
}

@media only screen and (min-width: 3200px) {
  :root {
    --divided-into: 8;
    --header-font-size: calc(2vw + 1rem);
  }
}

body {
  margin: 0;
  font-family: myFirstFont3;
  font-weight: bold;
  background-color: var(--main-bg-color);
  user-select: none;
  --main-bg-color: #121212;
  --secondary-bg-color: #ffffff12;

}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--divided-into), 1fr);
}

.productContainer {
  display: flex;
  height: calc(100vw/var(--divided-into));
  width: calc(100vw/var(--divided-into));
  overflow: hidden;
  background-color: var(--secondary-bg-color);
  color: #ffffffa8;
  border-radius: 1%;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.productBottomPart {
  display: flex;
}

.productImage {
  height: calc(100vw/var(--divided-into));
  width: calc(100vw/var(--divided-into));
  padding: 0.3vw;
  border-radius: 1%;
  position: absolute;
  z-index: 0;
}

.productName {
  line-height: 0.8;
  color: #121212de;
  font-size: calc(8vw/var(--divided-into));
  width: 100%;
  height: 100%;
  z-index: 1;
}

.productPrice {
  font-size: calc(8vw/var(--divided-into));
  color: #121212de;
  width: 50%;
  height: 20%;
  z-index: 2;
  text-align: center;
  padding-top: 0.5vh;
}

.addToCartArea {
  font-size: calc(10vw/var(--divided-into));
  width: 50%;
  height: 20%;
  z-index: 2;  
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: #2a2a2a;
  color: #ffffff;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  height: 4vh;
  max-height: 4vh;
  font-size: var(--header-font-size);
  position: sticky;
  top: 0%;
  overflow: hidden;
  z-index: 2;
}

li a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #ffffff64;
}

li a:focus-visible {
  outline: none;
  color: #000;
}

li a.active {
  color: #ffffffa5;
  text-shadow: 0 0 2px #ffffffa5;
}

li a:hover {
  color: #ffffffd2;
  text-shadow: 1px 1px 4px #ffffffd2;
}

#home a.active {
  color: #00ff1e45;
  text-shadow: 0 0 2px #00ff1e45;
}

#home a:hover {
  color: #00ff1e92;
  text-shadow: 1px 1px 4px #00ff1e92;
}

td>p {
  color: #ffffffa2;
  border: 0;
  padding: 0;
  margin: 0;
}

.table {
  --bs-table-bg-type: darkslategrey;
  font-size: 2vh;
  font-family: 'myFirstFont4';
  font-weight: 800;
  padding: 0rem 0rem;
  --bs-table-hover-bg: unset;
}

.table>:not(caption)>*>* {
  padding: 0rem 0rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: hidden;
  border-width: 0px;
}

.button {
  background-color: darkslategrey
}